.preview-warn {
  background-color: #85858579;
  position: absolute;
  height: 80%;
  width: 95%;
  backdrop-filter: blur(2px);
  align-content: center;
  pointer-events: auto;
}
.preview-warn p {
  font-size: xx-large;
  display: block;
  text-align: center;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff;
  pointer-events: none;
}
