<form id="loginpanel" #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
  <div class="inset">
    <p>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        [(ngModel)]="username"
      />
    </p>
    <p>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        [(ngModel)]="password"
      />
    </p>

    <!-- 
        [(ngModel)]="username"
        [(ngModel)]="password" CSRF token is automatically included with Thymeleaf
    <input
      type="hidden"
      th:name="${_csrf.parameterName}"
      th:value="${_csrf.token}"
    /> -->
  </div>
  <p class="p-container">
    <input type="submit" name="Login" value="Login" />
  </p>
</form>
