:host {
  --content-padding: 10px;
  --sidebartransition: 0.7s;
  --sidebar_left_expanded: 11vw;
  --sidebar_minleft_expanded: 200px;
}

header {
  display: block;
  height: 10px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.content {
  padding: var(--content-padding);
}

.sidebar {
  position: fixed;
  width: 3vw;
  transition: all var(--sidebartransition);
  background-color: #5f7af049;
  overflow-x: hidden;
  z-index: 1050;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.sidebar.uncollapsed {
  transition: all var(--sidebartransition);
  width: max(200px, var(--sidebar_left_expanded));
}

.sidebarhelper {
  position: fixed;
  transition: all var(--sidebartransition);
  z-index: 1050;
  margin-left: 4vw; /*65px;*/
}

.sidebarhelper.uncollapsed {
  transition: all var(--sidebartransition);
  margin-left: max(200px, var(--sidebar_left_expanded));
  transform: rotate(180deg);
}

.sidebar p {
  opacity: 0;
  text-align: center;
  font-size: 2em; /* 30px;*/
  transition: all var(--sidebartransition);

  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff;
  pointer-events: none;
}

.sidebar.uncollapsed p {
  opacity: 1;
  transition: all var(--sidebartransition);

  align-content: center;
  text-size-adjust: 10;
  pointer-events: auto;
}

.content {
  padding-left: 2vw; /*45px;*/
}

.collapsezone {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 0vw;
  left: 0vw;

  z-index: 100;
  transition: all var(--sidebartransition);
  background-color: #0000001f;
  border-style: none;
}

.collapsezone.uncollapsed {
  opacity: 1;
  position: fixed;
  height: 100%;
  width: min(calc(100vw - var(--sidebar_left_expanded)), calc(100vw - var(--sidebar_minleft_expanded)));
  left: max(var(--sidebar_left_expanded), var(--sidebar_minleft_expanded));

  backdrop-filter: blur(3px);
  transition: all var(--sidebartransition);
}

.cns-gradient {
  display: inline-block;
  background: -webkit-linear-gradient(#f155f4, #b457f2, #6d5c80, #8da6f2, #66d9d9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cns-gradient-text-strech {
  display: inline-block;
  -webkit-transform: scale(3, 1);
  -moz-transform: scale(3, 1);
  -o-transform: scale(3, 1);
  font-weight: 750;
  transform: scale(3, 1) translate(5vw, 3px);
}
