:host {
  --content-padding: 10px;
  --sidebartransition: 0.7s;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

.sidebar {
  position: fixed;
  width: 3vw;
  transition: width var(--sidebartransition);
  background-color: #5f7af049;
  overflow-x: hidden;
  z-index: 1050;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.sidebar.uncollapsed {
  width: 13vw;
}

.sidebarhelper {
  position: fixed;
  transition: all var(--sidebartransition);
  margin-left: 65px;
}

.sidebarhelper.uncollapsed {
  transition: all var(--sidebartransition);
  margin-left: 255px;
  transform: rotate(180deg);
}

.sidebar p {
  opacity: 0;
  text-align: center;
  font-size: 30px;
  transition: all var(--sidebartransition);

  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff;
}

.sidebar.uncollapsed p {
  opacity: 1;
  transition: all var(--sidebartransition);

  align-content: center;
  text-size-adjust: 10;
}

.content {
  padding-left: 65px;
}

.collapsezone {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 1vw;
  left: 3vw;

  z-index: 100;
  transition: all var(--sidebartransition);
  background-color: #00000000;
  border-style: none;
}

.collapsezone.uncollapsed {
  opacity: 1;
  position: fixed;
  height: 100%;
  width: 86vw;
  left: 13vw;

  backdrop-filter: blur(3px);
  transition: all var(--sidebartransition);
}
