<html lang="en">
  <head>
    <!-- Includes all JS & CSS for the JavaScript Data Grid -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
  </head>
  <body>
    <div style="width: 100%; height: 100%"></div>
    <main class="main">
      <!-- Your Data Grid container-->
    </main>

    <!--onclick is the native javascript not angular-->
    <button (click)="RetrieveData()">GET DATA</button>
    <button (click)="SendData()">POST DATA</button>
    <button (click)="AddItems(0)">Add Items</button>
    <div id="myGrid" style="height: 100%"></div>

    <p>dashboard works! yay</p>

    <div>
      <h1>{{ title }}!</h1>
      <ag-grid-angular
        style="height: 80vh"
        class="ag-theme-quartz"
        [theme]="theme"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </body>
</html>
