<html lang="en">
  <head>
    <!-- Includes all JS & CSS for the JavaScript Data Grid -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
  </head>
  <body>
    <div style="width: 100%; height: 100%" class="">
      <div class="row">
        <div class="col">
          <!--onclick is the native javascript not angular-->
          <button (click)="retrieveData()" class="btn btn-outline-primary">
            GET Data
          </button>
          <!-- Event Binding -->
          -
          <button (click)="sendData()" class="btn btn-outline-success">
            SAVE Data
          </button>
          - - -
          <button (click)="deleteSelected()" class="btn btn-outline-danger">
            DELETE Selected Data
          </button>
          - - -
          <button (click)="test()">{{ test_name }}!</button>
          <!-- String binding -->

          <br />
          Defaults :
          <button (click)="clearAll()" class="btn btn-outline-warning">
            Clear All
          </button>
          --
          <button
            (click)="addItems(type.value, tags.value, parent.value)"
            class="btn btn-outline-info"
          >
            Add Items
          </button>
          --
          <button (click)="exportData()" class="btn btn-outline-info">
            Export data
          </button>
          --
          <input
            #fileInput
            type="file"
            id="file"
            (click)="fileInput.value = ''"
            (change)="importData($event)"
            accept=".csv,.json"
          />
        </div>

        <div class="col-6">
          Default data's value when adding a new row
          <br />
          Type >
          <input
            #type
            type="text"
            name="astre_type"
            value="topic"
            id="type"
            placeholder="type"
            autocomplete="off"
          />
          Tags :-
          <input
            #tags
            type="text"
            name="astre_tags"
            value=""
            id="tags"
            placeholder="tags"
            autocomplete="off"
          />
          Parent :-
          <input
            #parent
            type="text"
            name="astre_parent"
            value=""
            id="parent"
            placeholder="parent"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
    <br />
    <div style="z-index: 5; position: relative">
      <div class="QuickSearch">
        <span>Quick Search : </span>
        <input
          type="text"
          id="filter-text-box"
          placeholder="Filter..."
          (input)="onFilterTextBoxChanged(selectedKey)"
          autocomplete="off"
        />
        =>
        <select
          [(ngModel)]="selectedKey"
          name="astre_userField"
          (change)="onFilterTextBoxChanged(selectedKey)"
        >
          <!-- Both way Binding with  [(ngModel)] -->
          <option [value]="">{{ "" }}</option>
          <option *ngFor="let key of userKeys" [value]="key">
            {{ key }}
          </option>
        </select>
      </div>
      <ag-grid-angular
        style="height: 70vh; z-index: 5; position: relative"
        class="ag-theme-quartz"
        [theme]="theme"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)"
      >
        <!--Property Binding -->
      </ag-grid-angular>
    </div>
  </body>
</html>
