/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-container .ngx-toastr {
  max-height: 50vh;
  overflow-y: auto;
  word-wrap: break-word;
}

.ag-cell {
  text-align: center;
}

.wavy {
  display: inline-block;
  animation-name: wavy;
  animation-duration: 5s;
  animation-timing-function: steps(8); /*cubic-bezier(0.85, 0, 0.15, 1);*/
  animation-iteration-count: infinite;
  top: 0;
}
@keyframes wavy {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
}
